In [ ]:
#What is the difference between a list, tuple, and set in Python?
list:
->it is mutable.
->it is ordered.
->duplicates allowed.
->slicing and indexing is possible.
tuple:
->it is immutable.
->it is ordered.
->duplicates allowed.
->slicing and indexing is possible.
set:
->it is mutable.
->it is not ordered.
->duplicates are not allowed.
->slicing and indexing is not possible.

In [ ]:
#how does Python manage memory? Explain the concept of garbage collection.
Reference Counting: Deletes objects when no references exist.
Garbage Collection: Cleans up unused memory (esp. cyclic references).
Python’s garbage collector checks for objects with zero references.
It also handles circular references (e.g., two objects referring to each other but not used).

In [35]:
# Write a function to find the second-largest number in a given list.
def second_largest(lst):
    if len(lst) < 2:
        return None  
    lst = list(set(lst))  
    lst.sort(reverse=True)  
    return lst[1]  
print(second_largest([10, 20, 5, 8, 20]))

10

In [ ]:
#Explain the difference between deepcopy() and copy() with an example.
The outer object is the main structure (list, dict, set, etc.).
Inner objects are nested elements inside the outer object.
Shallow Copy (copy.copy()) → Copies only the outer object, inner objects remain shared.
Deep Copy (copy.deepcopy()) → Copies everything recursively, making an independent copy.

In [37]:
#Given a dictionary, write a Python script to sort it by values in descending order.
my_dict = {'apple': 10, 'banana': 5, 'cherry': 20, 'date': 15}
sorted_dict = dict(sorted(my_dict.items(), key=lambda item: item[1], reverse=True))
print(sorted_dict)

{'cherry': 20, 'date': 15, 'apple': 10, 'banana': 5}

In [ ]:
#How does Python handle exceptions internally? Write a custom exception class.
Python searches for except blocks when an exception is raised.
If no handler is found, Python terminates the program.
We can define custom exceptions by inheriting from Exception.
class Custom(Exception):
    def __init__(self, m):
        super().__init__(m) 
try:
    raise Custom("Something went wrong!") 
except Custom as e:
    print(f"Caught Custom Exception: {e}")

In [ ]:
#Define mean, median, and mode. When would you prefer the median over the mean?
mean:
->The sum of all values divided by number of values.
median:
->the middle value when data is sorted.
mode:
->most frequent.
----
when there are outliers median is preferred.

In [ ]:
#What are the advantages and disadvantages of using standard deviation versus interquartile range?
Standard deviation:
Advantages:
->Best for normally distributed data (bell curve).
->Uses all data points, giving a complete picture of variability.
->Important in statistical models (e.g., z-scores, hypothesis testing).
Disadvantages:
->Sensitive to outliers – extreme values inflate SD.
->Misleading for skewed distributions (e.g., income data).
Interquartile range:
Advantages:
->Not affected by outliers → Ideal for skewed data.
->Better for small datasets with uneven distributions.
Disadvantages:
->Ignores extreme values, which might be important in some cases.
->Less useful for normally distributed data.

In [ ]:
#Explain the difference between a population and a sample. Why do we use sampling?
population:
->the entire group being studied.
->larger.
->data collection is time consuming and expensive.
sample:
->a subset of the population.
->smaller in size.
->data collection faster and cost effective.
-----------
We use sampling because it's cheaper, faster, and practical while still providing accurate estimates.

In [ ]:
#What is the difference between independent and mutually exclusive events? Provide examples.
independent events:
->events that donot affect each other.
->both events can occur simultaneouslt.
->Getting heads on the first toss & heads on the second toss.
mutually exclusive events:
->events that cannot occur together.
->if one occurs the other cannot.
->Getting heads and tails on the same toss.

In [ ]:
#If a fair die is rolled twice, what is the probability of getting a sum of 7?
->rolling two dice results in 36 possible outcomes.
->there are 6 favourable outcomes.
->probability is 1/6.

In [ ]:
#What is the p-value? How is it used in hypothesis testing?
the p-value tells us the likelihood of obtaining the observed data if the null hypothesis is true.
->null hypothesis(h0) and alternative hypothesis(ha).
->choose significance value(alpha).
->compute the p-value.
->if p-value<=alpha(reject h0).
->if p-value>alpha(accept h0)

In [ ]:
# Explain Type I and Type II errors. Which is more serious in a medical test context?
type 1 error:
->reject h0 when it is actually true.
->Detecting an effect that doesn't exist
type 2 error:
->Failing to reject h0 when it's actually false
->missing a real effect.
Type II error is more serious because missing a real disease can be life-threatening.

In [ ]:
#A sample of 100 people has an average height of 170 cm with a standard deviation of 8 cm. Construct a 95% confidence interval for the population mean.
->calculate standard error:SE=S/sqrt(n)=0.8
->calculate margin error:ME=Z*SE=1.568
->confidence interval:170+-1.568
->(168.43,171.57)

In [ ]:
#How do we handle the missing values.
->remove missing values by dropping them.
->fill with mean/median/mode/constant value/backward or forwarf filler.
->predict missing values.

In [ ]:
#How many sampling techniques are there.., explain them with an examples.
there are two types of sampling techniques.
1)probability sampling(More accurate & unbiased results)
2)non probability sampling(Fster & practical but less representativeF)
--------
types in probability sampling:
1)Simple Random Sampling:every individual has an equal chance of selection.
ex:Selecting 50 students randomly from a school of 500 using a lottery.
2)Systematic Sampling:Selecting every k-th individual from an ordered list.
ex:Choosing every 10th customer from a supermarket entry list.
3)Cluster Sampling:Population is divided into clusters, and entire clusters are selected randomly.
ex:Selecting random classrooms in a school instead of individual students.
--------------
types of non population sampling:
1)Convenience Sampling:Selecting samples easily available or nearby.
ex:Surveying people in a mall instead of the whole city.
2)Judgmental Sampling:Researcher selects participants based on expert judgment.
ex:Selecting only experienced doctors for a medical study.
3)Quota Sampling:Selecting a fixed number of samples per category without randomness.
ex:Interviewing 50 men and 50 women for a gender study.

In [39]:
print("Hello,World!")

Hello,World!

In [41]:
#Write a program that prints numbers from 1 to 50:If a number is divisible by 3, print "Fizz".If a number is divisible by 5, print "Buzz".If a number is divisible by both 3 and 5, print "FizzBuzz".
for num in range(1, 51):
    if num % 3 == 0 and num % 5 == 0:
        print("FizzBuzz")
    elif num % 3 == 0:
        print("Fizz")
    elif num % 5 == 0:
        print("Buzz")
    else:
        print(num)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz

In [45]:
# Create a Pandas DataFrame from the following dictionary:
import pandas as pd
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 32, 30],
    'City': ['New York', 'Paris', 'London']
}
df = pd.DataFrame(data)
print(df)

      Name  Age      City
0    Alice   25  New York
1      Bob   32     Paris
2  Charlie   30    London

In [49]:
selected_columns = df[['Name', 'Age']]
print(selected_columns)

      Name  Age
0    Alice   25
1      Bob   32
2  Charlie   30

In [51]:
filtered_df = df[df['Age'] > 30]
print(filtered_df)

  Name  Age   City
1  Bob   32  Paris

In [53]:
df['Salary'] = [50000, 60000, 55000]
print(df)

      Name  Age      City  Salary
0    Alice   25  New York   50000
1      Bob   32     Paris   60000
2  Charlie   30    London   55000

In [55]:
df1 = pd.DataFrame({'ID': [1, 2, 3], 'Name': ['Alice', 'Bob', 'Charlie']})
df2 = pd.DataFrame({'ID': [1, 2, 4], 'Score': [90, 85, 88]})
merged_df = pd.merge(df1, df2, on="ID", how="inner")  
print(merged_df)

   ID   Name  Score
0   1  Alice     90
1   2    Bob     85

In [57]:
names = ['Alice', 'Bob', 'Charlie', 'David']
ages = [23, 35, 30, 29]
cities = ['New York', 'Paris', 'London', 'Berlin']
df = pd.DataFrame({'Name': names, 'Age': ages, 'City': cities})
print(df)

      Name  Age      City
0    Alice   23  New York
1      Bob   35     Paris
2  Charlie   30    London
3    David   29    Berlin

In [61]:
print(df.head(3))  
print(df.tail(2))

      Name  Age      City
0    Alice   23  New York
1      Bob   35     Paris
2  Charlie   30    London
      Name  Age    City
2  Charlie   30  London
3    David   29  Berlin

In [63]:
print("Mean:", df['Age'].mean())
print("Median:", df['Age'].median())
print("Min:", df['Age'].min())
print("Max:", df['Age'].max())

Mean: 29.25
Median: 29.5
Min: 23
Max: 35

In [65]:
third_row = df.iloc[2]  
print(third_row)

Name    Charlie
Age          30
City     London
Name: 2, dtype: object

In [67]:
filtered_df = df[(df['Age'] > 30) & (df['City'] == 'London')]
print(filtered_df)

Empty DataFrame
Columns: [Name, Age, City]
Index: []

In [69]:
data = {
    'Product': ['A', 'A', 'B', 'B'],
    'Month': ['Jan', 'Feb', 'Jan', 'Feb'],
    'Sales': [200, 220, 150, 180]
}
df = pd.DataFrame(data)
pivot_df = df.pivot(index="Product", columns="Month", values="Sales")
print(pivot_df)

Month    Feb  Jan
Product
A        220  200
B        180  150

In [71]:
rows, cols = df.shape

Rows: 4, Columns: 3